.main-header {
	position:absolute;
	z-index: 200;
	padding:3rem 0;
	width: 100%;
	height: auto;
	background-color: var(--black);
}
.main-header__row {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.main-header__logo {
	flex:0 1 15rem;
}
.main-header__menu {
}

.main-header__list {
	display: flex;
	flex-direction:column;
	align-items: center;
	justify-content: center;
	gap:3rem;

	position:fixed;
	z-index: 100;
	top: -100%;
	left: 0;
	width: 100%;
	height: 100%;

	transition:all 0.4s ease-in 0s;
	background-color:var(--gray);
	/* overflow: auto; */
	/* padding:1rem 0; */
}
.list-active{
	top: 0;
	transition:all 0.7s ease-out 0s;
}
.main-header__item{
	color:var(--black);	
	font-size: 3rem;
	padding:1rem;
	font-weight: 500;
}
.main-header__item:not(:last-child) {
	margin-bottom: 2rem;
}
.main-header__link {
	color:inherit;
}
.main-header__btn {
}



.menu-btn {
	cursor:pointer;
	width: 4rem;
	height: 3rem;
	position: relative;
	z-index: 101;
	display: grid;
	place-items:center;
}
.menu-btn::before,
.menu-btn::after{
	content:'';
	display: inline-block;
	position:absolute;
	width: 100%;
	height: 3px;
	background-color: var(--white);
	left: 0;
	transition:all 0.4s ease-in 0s;
}
.menu-btn::before{
	top:0;
}
.menu-btn::after{
	bottom:0;
}

.menu-btn span{
	width: 100%;
	height: 3px;
	background-color: var(--white);
	display: inline-block;
	transition:all 0.3s linear 0s;
}

.menu-active-btn span {
	transform:scale(0);
	background-color: var(--black);
	transition:all 0.3s linear 0s;
}
.menu-active-btn::before,
.menu-active-btn::after{
	top: 50%;
	transform:translateY(-50%);
	background-color: var(--black);
	transition:all 0.3s ease-in 0s;
}
.menu-active-btn::before{
	transform: rotate(45deg);
}
.menu-active-btn::after{
	transform: rotate(-45deg);
}